* {
    margin: 0;
}

.Nav { 
    height : 10vh;
    width: 100%;
    background-color: lightslategray;
    display:table;
    clear: both;
}

.namecontainer {
    display: table;
    height: 10vh;
    float: left;
}

.navItems{
    display: table;
    height: 10vh;
    float: right;
    color: aliceblue;
}

.navtext{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.Name {
    background-color:pink;
    color: white;
    width: 300px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.Content {
    min-height : 80vh;
    background-color: aliceblue;
    position: relative;
    background-image: url("./burney.jpg");
}

/* .center-this { */
    /* width: 300px;
    height: 300px;
    background-color: ;
    position: absolute;
    top: 50%;
} */

 .card {
    height: 400px;
    width: 400px;
    background-color: lightgrey;
    opacity:.8;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}


.font{
    font-size: 26px;
    margin-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
}

.border{
    border: 6px solid black;
    margin-bottom: 10px;
}
.aboutme {
        background-color:pink;
        color: white;
        width: 100px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
}
.image{
    width:20%;
    float: left;
    padding-right: 7px; 

}
.info {
    font-size: 12px;
    text-align: 
    
}
.Footer {
    height: 10vh;
    background-color:pink;
}

.contact-form{
    border: black 10px;
    width: 500px;
    margin: 101px auto 136px auto;
    border:7px solid pink;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }